<html>
<body>

    <h1>Login</h1>
    <form name="login" action="/login" method="POST">
        Username<input type="text" name="username">
        Password<input type="password" name="password">
        <input type="submit" value="Login">
        <input type="reset" value="Cancel">
    </form>

    <script language="javascript">
        function check(form) {
            if (form.userid.value == "myuserid" && form.pswrd.value == "mypswrd") {
                window.open('target.html')
            }
            else {
                alert("Wrong username or password!")
            }
        } 
    </script>
    <p>Not a member yet? 
        <a href="register.ejs">Register</a>here!
    </p>
</body>

</html>