<html>
<body>
    <h1 class="userFormHeading">Login</h1>
    <form class="userDetailsForm" name="login" action="/login" method="POST">
        <h4 class="formFieldName">Username</h4>
        <input class="userFormField" type="text" name="username"><br>
        <h4 class="formFieldName">Password</h4>
        <input class="userFormField" type="password" name="password"><br>
        <div class="formButtonsContainer">
            <input class="formButton" type="submit" value="Login">
            <input class="formButton" type="reset" value="Cancel">
        </div>
    </form>
    <p id="registerLink">Not a member yet? 
        <a href="/register">Register here!</a>
    </p>

    <script language="javascript">
        function check(form) {
            if (form.userid.value == "myuserid" && form.pswrd.value == "mypswrd") {
                window.open('target.html')
            }
            else {
                alert("Wrong username or password!")
            }
        } 
    </script>

</body>

</html>