<div class="col-sm-6">
  <img src="images/cat.jpg" alt="Cat picture">
</div>
<div class="col-sm-6">
  <h1 class="userFormHeading">Register</h1>
  <p id="registerFormText">Enter your info to loan books:</p>
  <form class="userDetailsForm" action="/register/new" method="post">
    <h4 class="formFieldName">Name</h4>
    <input class="userFormField"type="text" name="username" value="">
    <br>
    <h4 class="formFieldName">Email</h4>
    <input class="userFormField" type="email" name="email" value="">
    <br>
    <h4 class="formFieldName">Password</h4>
    <input class="userFormField" type="password" name="password" value="">
    <br>
    <div class="formButtonsContainer">
      <input class="formButton" type="submit" value="Submit">
    </div>
  </form>
</div>

<script type="text/javascript">

  function checkPassword(str) {
    var re = /^(?=.*\d)(?=.*[]a-z)(?=.*{6,}$/;
    return re.test(str);
  }

  function checkForm(form) {
    if (form.username.value == "") {
      alert("Error: Username cannot be empty!");
      form.username.focus();
      return false;
    }
    re = /^\w+$/;
    if (!re.test(form.username.value)) {
      alert("Error: Username can only contain letters, numbers and underscores!");
      form.username.focus();
      return false;
    }
    if (form.pwd1.value != "" && form.pwd1.value == form.pwd2.value) {
      if (!checkPassword(form.pwd1.value)) {
        alert("Password does not meet requirements!");
        form.pwd1.focus();
        return false;
      }
    } else {
      alert("Error: Check your password!");
      form.pwd1.focus();
      return false;
    }
    return true;
  }

</script>