<div class="col-sm-6">
    <img src="images/cat.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <h1>Register</h1>
    <p>Enter your info to loan books:</p>
    <form action="/subscribe" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" value="">
      <br>
      <label for="email">Email</label>
      <input type="email" name="email" value="">
      <br>
      <input type="submit" name="" value="Submit">
    </form>
  </div>